<div align="center">
<h1>输入生成数量</h1>
<form method="post" action="/Coding">
    <input  id ="text"type="text" name="code_number" pattern ="^[1-9]\d{0,4}$">
    <br/>
    <br/>
    <input id = "submit_button" type="submit" value="生成" >
</form>
</div>