<div align="center">
<h1><%= @title %></h1>
<form method="post" action="/Download">
    <input id = "submit_button" type="submit" value="下载">
</form>
<br/>
<form method="get" action="/Edit">
    <input id = "submit_button" type="submit" value="返回">
</form>
</div>