<div align="center">
<h2>生成二维码</h2>
<form method="post" action="/Coding">
    <input type="text" name="code_number" pattern ="^[1-9]\d{0,4}$"><input type="submit" value="生成">
</form>
<form method="post" action="/Saving">
    <input type="submit" value="保存">
</form>
<form method="post" action="/Download">
    <input type="submit" value="下载">
</form>
</div>